/** flex wrap css module **/
.flex-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
/** flex main wrap**/
.flex-main__center {
  justify-content: center !important;
}
.flex-main__start {
  justify-content: flex-start !important;
}
.flex-main__end {
  justify-content: flex-end !important;
}
.flex-main__between {
  justify-content: space-between !important;
}
.flex-main__around {
  justify-content: space-around !important;
}

/** flex item wrap **/
.flex-item__start {
  align-items: flex-start !important;
}
.flex-item__center {
  align-items: center !important;
}
.flex-item__end {
  align-items: flex-end !important;
}
.flex-item__stretch {
  align-items: stretch !important;
}
/** flex self wrap **/
.flex-self__start {
  align-self: flex-start !important;
}
.flex-self__center {
  align-self: center !important;
}
.flex-self__end {
  align-self: flex-end !important;
}

/** flex wrap empty **/
.flex-empty {
  flex: 1;
}
.flex-wrap__column {
  flex-direction: column !important;
}


/** 背景图片设置 **/
.backgorund-image-pre {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/** button设置 **/
.button-default {
  width: 1.4rem;
  padding: .14rem;
  font-size: 14px;
  outline: none;
  border: none;
  color: #FFBB33;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
}

/** position **/
.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.position-level {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.position-vertival {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(2rem);
  }
}
.js-animate__translate {
  animation: move .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes move_lf {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(2rem);
  }
}
.js-animate__lf {
  animation: move_lf .6s cubic-bezier(.5, .08, .95, .51) forwards;
}